<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Currency asset calculator</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div id="app"></div>
    </div>
</div>
<script src="built/bundle.js"></script>
</body>
</html>